/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  text-align: center;
  background-color: #303E4D; }

.game-title {
  margin-top: 100px;
  text-align: center; }

p {
  text-align: center; }

h1 {
  font-size: 60px;
  letter-spacing: .1em;
  color: #fff; }

h2 {
  width: 100%;
  font-size: 45px;
  letter-spacing: .2em;
  color: #fff; }

.ready-game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #303E4D; }
  .ready-game > section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 300px; }
  .ready-game .enter-the-game {
    background-color: #303E4D;
    z-index: 2; }
    .ready-game .enter-the-game .register-name {
      text-align: center;
      font-size: 0; }
      .ready-game .enter-the-game .register-name .player-name {
        display: inline-block;
        vertical-align: bottom;
        width: 450px;
        height: 80px;
        box-sizing: border-box;
        margin-top: 40px;
        font-size: 30px;
        letter-spacing: .2em;
        text-align: center;
        border: 10px solid #fff;
        background-color: transparent;
        color: #fff;
        border-radius: 4px;
        outline: 0;
        transition: all .3s; }
        .ready-game .enter-the-game .register-name .player-name:hover {
          background-color: rgba(255, 255, 255, 0.1); }
        .ready-game .enter-the-game .register-name .player-name:focus {
          border-color: #33b490; }
      .ready-game .enter-the-game .register-name .register-player {
        display: inline-block;
        vertical-align: bottom;
        font-size: 1rem;
        width: 80px;
        height: 80px;
        margin-left: 20px; }
        .ready-game .enter-the-game .register-name .register-player:hover {
          background-color: rgba(255, 255, 255, 0.1); }
        .ready-game .enter-the-game .register-name .register-player:focus {
          border-color: #33b490; }
  .ready-game .ready-fight {
    background-color: #303E4D;
    z-index: 1; }
    .ready-game .ready-fight .player-ready {
      display: inline-block; }
      .ready-game .ready-fight .player-ready:checked {
        display: none; }
  .ready-game .ready-count {
    background-color: #303E4D;
    z-index: 0; }
    .ready-game .ready-count .count-number {
      color: #fff;
      font-size: 20vw; }
  .ready-game .check-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    border: 10px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color .3s; }
    .ready-game .check-wrapper:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .ready-game .check-wrapper .check-bar {
      width: 20px;
      height: 20px;
      margin-top: 15px;
      margin-left: 9px;
      border-bottom: 8px solid #fff;
      border-left: 8px solid #fff;
      transform: rotate(-135deg);
      transition: all .1s ease-in-out; }
      .ready-game .check-wrapper .check-bar.is-check {
        border-bottom: 12px solid #33b490;
        border-left: 12px solid #33b490;
        width: 78px;
        height: 35px;
        margin-top: -20px;
        margin-left: -5px;
        transform: rotate(-45deg); }

.gamearea {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%; }
  .gamearea .words-area {
    border: 10px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    width: 750px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    margin: 50px auto; }
    .gamearea .words-area .touched-letter {
      color: #ccc; }
    .gamearea .words-area .untouched-letter {
      color: #303E4D; }
  .gamearea .playground {
    margin-top: 200px; }
    .gamearea .playground .playground-tug {
      display: flex; }
      .gamearea .playground .playground-tug .tug {
        height: 30px;
        width: 100vw;
        transition: all .2s; }
        .gamearea .playground .playground-tug .tug.red-tug {
          width: 50%;
          background-color: #ed2a6b; }
        .gamearea .playground .playground-tug .tug.blue-tug {
          width: 50%;
          background-color: #2a71ed; }
    .gamearea .playground .center-point {
      width: 100px;
      margin: 0 auto 3px; }
