// Color variables
$black: #333;
$gray: #ccc;
$white: #fff;
$red: #ed2a6b;
$blue: #2a71ed;
$orange: #db8b13;

html, body {
  padding: 0;
  margin: 0;
  color: $black;
}
.game-title {
  margin-top: 100px;
  text-align: center;
}

p {
  text-align: center;
}

.words-area {
  border: 10px solid $gray;
  border-radius: 20px;
  background-color: $white;
  width: 750px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  margin: 50px auto;
  .touched-letter {
    color: $gray;
  }
  .untouched-letter {
    color: $black;
  }
}

.playground {
  margin-top: 200px;
  .playground-tug {
    font-size: 0;
    .tug {
      width: 50vw;
      height: 30px;
      font-size: 1rem;
      display: inline-block;
      vertical-align: top;
      &.red-tug {
        background-color: $red;
      }
      &.blue-tug {
        background-color: $blue;
      }
    }
  }
}
